@import url("https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css");

* {
    margin: 10px;
}

header {
    background-color: rgb(29, 233, 244);
    font-weight: 700;
    padding: 10px;
    text-align: center;
    color: black;
}

main {
    background-color: rgba(202, 202, 21, 0.264);
    padding: 10px;
    color: black;
}

footer {
    background-color: rgb(29, 233, 244);
    font-weight: 700;
    padding: 10px;
    text-align: center;
    color: black;
}

hr {
    border-top: 2px solid rgb(102, 0, 255) !important;
}

.div-cotizar {
    margin: 20px;
    padding: 20px;
    text-align: center;
}

.error-prendas {
    padding: 20px;
    text-align: center;
    background-color: orangered;
    color: whitesmoke;
    border-radius: 12px;
}

button.button.button-outline {
    font-size: x-large !important;
}

button.button.button-outline:active {
    background: pink !important;
}